:root {
  --primary: #f1d6cc;
  --primary-2: #2d3f50;
  --secondary: #83b6e7;
  --secondary-2: #e8a5a5;
  --selection: var(--cyan);
  --text-base: var(--primary-2));
  --text-primary: var(--primary-2);
  --text-secondary: white;
  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --purple: #f81ce5;
  --blue: #0070f3;
  --pink: #ff0080;
  --pink-light: #ff379c;
  --magenta: #eb367f;
  --violet: #7928ca;
  --violet-dark: #4c2889;
 --primary-accent-0: #f7f0e6; /* 3 shades lighter */
  --primary-accent-1: #e8d7c1;
  --primary-accent-2: #d2bfa2;
  --primary-accent-3: #bfa080;
  --primary-accent-4: #a18869;
  --primary-accent-5: #8d6e54;
  --primary-accent-6: #795540;
  --primary-accent-7: #61412e;
  --primary-accent-8: #432e1d;
  --primary-accent-9: #1f0d02;
  --primary-2-accent-0: #f0f7f6; /* 3 shades lighter */
  --primary-2-accent-1: #d4e3e1;
  --primary-2-accent-2: #b7cdcb;
  --primary-2-accent-3: #9bb6b4;
  --primary-2-accent-4: #7e9e9a;
  --primary-2-accent-5: #657c7e;
  --primary-2-accent-6: #4c5b62;
  --primary-2-accent-7: #333c44;
  --primary-2-accent-8: #0f202e;
  --primary-2-accent-9: #030b14;

  --accent-0: #f7f8fa;
  --accent-1: #e1e4e8;
  --accent-2: #c8ccd4;
  --accent-3: #9ea7b8;
  --accent-4: #7b8a9a;
  --accent-5: #5f6d81;
  --accent-6: #4d576b;
  --accent-7: #3b4253;
  --accent-8: #1e2532;
  --accent-9: #0b0e17;
  --font-sans: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
}
/* 
[data-theme='dark'] {
  --primary: #000000;
  --primary-2: #111;
  --secondary: #ffffff;
  --secondary-2: #f1f3f5;
  --hover: rgba(255, 255, 255, 0.075);
  --hover-1: rgba(255, 255, 255, 0.15);
  --hover-2: rgba(255, 255, 255, 0.25);
  --selection: var(--purple);
  --text-base: white;
  --text-primary: white;
  --text-secondary: black;
  --accent-9: #fff;
  --accent-8: #fafafa;
  --accent-7: #eaeaea;
  --accent-6: #999999;
  --accent-5: #888888;
  --accent-4: #666666;
  --accent-3: #444444;
  --accent-2: #333333;
  --accent-1: #111111;
  --accent-0: #000;
} */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-family: var(--font-sans);
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-primary);
  overscroll-behavior-x: none;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  img[loading='lazy'] {
    clip-path: inset(0.5px);
  }
}
